---
title: Junk Code Quick Start Page
---
<h1>Hello world!</h1>

<div id="typing" class="typing">
    This text is
    <span class="typing__term" data-term data-active="true">radically altering</span>
    <span class="typing__term" data-term data-active="false">typing</span>
    <span class="typing__term" data-term data-active="false">blazing a path for majorly reconfiguring</span>
    itself.
</div>
