<div class="pager{{#unless left}}--no-left{{/unless}}">
  <nav>
    {{#if left}}
    <a href="left.html" class="pager__left">{{ left }}</a>
    {{/if}}
    {{#if right}}
    <a href="right.html" class="pager__right">{{ right }}</a>
    {{/if}}
  </nav>
</div>
