---
title: Junk Code Quick Start Page
---
<h1>Hello world!</h1>

<div class="panel">
    <div class="cube">
        <div class="cube__face">
            <span>A</span>
        </div>
        <div class="cube__face">
            <span>B</span>
        </div>
        <div class="cube__face">
            <span>C</span>
        </div>
        <div class="cube__face">
            <span>D</span>
        </div>
        <div class="cube__face">
            <span>E</span>
        </div>
        <div class="cube__face">
            <span>F</span>
        </div>
    </div>
</div>

<div class="panelB">
    <div class="cube">
        <div class="cube__face">
            <span>A</span>
        </div>
        <div class="cube__face">
            <span>B</span>
        </div>
        <div class="cube__face">
            <span>C</span>
        </div>
        <div class="cube__face">
            <span>D</span>
        </div>
        <div class="cube__face">
            <span>E</span>
        </div>
        <div class="cube__face">
            <span>F</span>
        </div>
    </div>
</div>
