---
title: CSS Grid Code Quick Start Page
---

<div class="mainNotASubGrid">
    <div class="header">
        <h1>Header!</h1>
    </div>

    <div class="banner--upper">
        <div class="banner--upper__top">
            <h4>Upper banner</h4>
        </div>
        <div class="banner--upper__element">
            <p>A paragraph in the upper banner.</p>
        </div>
        <div class="banner--upper__element">
            <p>A paragraph in the upper banner.</p>
        </div>
        <div class="banner--upper__element">
            <p>A paragraph in the upper banner.</p>
        </div>
        <div class="banner--upper__element">
            <p>A paragraph in the upper banner.</p>
        </div>
    </div>

    <div class="body">
        <h2>Body content</h2>
        <p>Content</p>
        <p>Content</p>
    </div>

    <div class="aside">
        <h3>Aside content</h3>
        <p>Content</p>
        <p>Content</p>
    </div>

    <div class="banner--lower">
        <div class="banner--lower__topleft">
            <h4>Lower banner</h4>
        </div>
        <div class="banner--lower__topright">
            <h4>Hey over here</h4>
        </div>
        <div class="banner--lower__element--1">
            <p>A paragraph in the lower banner.</p>
        </div>
        <div class="banner--lower__element--2">
            <p>A paragraph in the lower banner.</p>
        </div>
        <div class="banner--lower__element--3">
            <p>A paragraph in the lower banner.</p>
        </div>
    </div>

    <div class="footer">
        <h5>Footer content</h5>
    </div>
</div>
