---
title: Animation Tests Page
---
<div id="items" class="items wrapper--wide">
    <div id="itemA" class="item" data-group="a">
        <p>Group A</p>
        <p>46B6-4137-956D</p>
    </div>
</div>
