---
title: Junk Code Quick Start Page
---
<div id="filters" class="filters wrapper--wide">
    <div class="filter">
        <h1>Filters</h1>
        <button type="submit" class="filter--button" data-target="a">Group A</button>
        <button type="submit" class="filter--button" data-target="b">Group B</button>
        <button type="submit" class="filter--button" data-target="c">Group C</button>
    </div>
</div>

<div id="items" class="items wrapper--wide">
    <div class="item" data-group="a">
        <p>Group A</p>
        <p>46B6-4137-956D</p>
    </div>
    
    <div class="item" data-group="b">
        <p>Group B</p>
        <p>9091-4F47-A6F9</p>
    </div>
    
    <div class="item" data-group="c">
        <p>Group C</p>
        <p>571F-4EF9-B3B2</p>
    </div>
    
    <div class="item" data-group="a">
        <p>Group A</p>
        <p>2E25-44DD-8D26</p>
    </div>
    
    <div class="item" data-group="b">
        <p>Group B</p>
        <p>ACE4-44A8-B54C</p>
    </div>
    
    <div class="item" data-group="c">
        <p>Group C</p>
        <p>F837-41AF-9F64</p>
    </div>
    
    <div class="item" data-group="a">
        <p>Group A</p>
        <p>496E-48F8-B1DF</p>
    </div>
    
    <div class="item" data-group="b">
        <p>Group B</p>
        <p>73A6-4770-A413</p>
    </div>
    
    <div class="item" data-group="c">
        <p>Group C</p>
        <p>6F1D-44E4-8F14</p>
    </div>
    
    <div class="item" data-group="a">
        <p>Group A</p>
        <p>DBCA-483A-9E50</p>
    </div>
    
    <div class="item" data-group="b">
        <p>Group B</p>
        <p>FEF2-4E5B-B7DB</p>
    </div>
    
    <div class="item" data-group="c">
        <p>Group C</p>
        <p>9024-4706-91D3</p>
    </div>
    
    <div class="item" data-group="a">
        <p>Group A</p>
        <p>0C1F-4956-B948</p>
    </div>
    
    <div class="item" data-group="b">
        <p>Group B</p>
        <p>D83C-4EC5-ACBE</p>
    </div>
    
    <div class="item" data-group="c">
        <p>Group C</p>
        <p>EB70-4AF9-80AD</p>
    </div>
    
    <div class="item" data-group="a">
        <p>Group A</p>
        <p>506C-4C82-9133</p>
    </div>
    
    <div class="item" data-group="b">
        <p>Group B</p>
        <p>6674-46DF-8B44</p>
    </div>
    
    <div class="item" data-group="c">
        <p>Group C</p>
        <p>E938-4DEB-B152</p>
    </div>
    
    <div class="item" data-group="a">
        <p>Group A</p>
        <p>B82F-4322-B40B</p>
    </div>
    
    <div class="item" data-group="b">
        <p>Group B</p>
        <p>88E1-46EF-A126</p>
    </div>
    
    <div class="item" data-group="c">
        <p>Group C</p>
        <p>AD6A-4C47-B5FD</p>
    </div>
    
    <div class="item" data-group="a">
        <p>Group A</p>
        <p>AF0E-401A-ABDB</p>
    </div>
    
    <div class="item" data-group="b">
        <p>Group B</p>
        <p>1CD7-40EC-8165</p>
    </div>
    
    <div class="item" data-group="c">
        <p>Group C</p>
        <p>F95A-4FEF-B51A</p>
    </div>
</div>
